<div class="shadow-effect" itemscope="" itemtype="http://schema.org/LocalBusiness">
  <div class="vcard">
    <div class="listing">
      <h1 class="listing-name" itemprop="name">
        {{ listing.name }}
      </h1>
      <em class="listing-description" itemprop="description">
        {{ 'Local Business in ' | append: listing.location.name }}
        {% if listing.country %}
          {{ ' - ' | append: listing.country.name }}
        {% endif %}
      </em>
      <div class="listing-categories" itemscope="">
        <ul>
          {% for listing_category in listing.listing_categories %}
            <li>{{ listing_category.name }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="listing-communications">
        <div class="listing-address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">


         {% comment %} <time itemprop="openingHours" datetime="Tu,Th 16:00-20:00">Tuesdays and Thursdays 4-8pm</time>{% endcomment %}

          <address itemprop="streetAddress">{{ listing.address }}</address>
          {% comment %}{% assign today = listing.business_hours.today | first %}{% endcomment %}
          <i class="fa fa-clock-o"></i>
          {% comment %}{% if today.open? %}
            Open
            Today

            {% for business_hour in listing.business_hours.today %}
              {{ business_hour | open_closed: '%I:%M %p-%I:%M %p' }}<br/>
            {% endfor %}
          {% else %}
            Closed
          {% endif %}{% endcomment %}

          {% assign business_hours = listing.business_hours | group_by_session %}

          {% for business_hour in business_hours %}


            {% comment %}{{ business_hour[1] | size }} 2,3,8{% endcomment %}

            {% for group in business_hour[1] %}
              {{ group.day }}
            {% endfor %}


            {% comment %}{{ business_hour[1] | join }}{% endcomment %}
            {% comment %}{% for group in business_hour[1] %}

            {% endfor %}{% endcomment %}

            {% comment %}{% if business_hour.closed? %}
              Closed
            {% elsif business_hour.full_day? %}
              24h
            {% else %}
              {{ business_hour.days | join: ',' }} : {{ business_hour.hour }} <br>

              <time itemprop="openingHours" datetime="Tu,Th 16:00-20:00">Tuesdays and Thursdays 4-8pm</time>
            {% endif %}{% endcomment %}
          {% endfor %}


          <div class="listing-contact" itemscope="" itemtype="http://schema.org/ContactPoint">
            <ul class="listing-contact-list list-dotted">
              {% if listing.telephone %}
                <li>
                  <span>{{ listing.telephone.type }}</span>
                  <span class="bold color333">{{ listing.telephone.value }}<span>
                </li>
              {% endif %}
              {% if listing.email %}
                <li>
                  <span>{{ listing.email.type }}</span>
                  <span class="bold color333">{{ listing.email.value | mail_to }}</span>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>